:root {
    --custom-red: #e63946;
    --custom-background: #f1faee;
    --custom-lightBlue: ##a8dadc;
    --custom-primary: #457b9d;
    --custom-darkBlue: #1d3557;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5em;
}

.flex {
    display: flex;
}

.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 7em 1em;
    color: var(--custom-darkBlue);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.logo {
    width: 6em;
}

.divided {
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
}

.desktop {
    gap: 1.75em;
}

h1 {
    font-size: 2.25em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 6em;
}

