body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5em;
}

.flex {
    display: flex;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 7em 1em;
}

.center {
    text-align: center;
}

.logo {
    width: 6em;
}

.divided {
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
}

.desktop {
    gap: 1.75em;
}