.journey input {
    margin-bottom: 1em;
    flex: 1;

}

.journey button {
    margin-bottom: 1em;
}

#map {
    position: relative;
}

#weather {
    display: flex;
    gap: 0.5em;
    padding: 0em 1em;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 10px;
    font-size: 1rem;
}

#weather-icon {
    width: 4rem;
}

#legend {
    margin: 10px;
}

.legend-block {
    background-color: white;
    padding: 0.25em 0.5em;
    display: flex;
    gap: 0.25em;
    font-size: 1rem;
    align-items: center;
}

.info > p {
    font-weight: 700;
    line-height: 1.5;
}

.estimation { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-wrap;
    padding: 1.5em;
    z-index: 10;
    background-color: var(--custom-background);
    border-radius: 1em;
}

.estimation > p {
    line-height: 1.5;
    font-size: 1.5rem; 
}

.close-btn {
    position: absolute;
    top: 4px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 2em;
    color: var(--custom-darkBlue);
    cursor: pointer;
    padding: 0;
    line-height: 1;
  }