/* How To Use Section */

.intro-full-width {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
}

.how-to-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    align-items: center;
}

.how-to-text {
    flex: 1;
    min-width: 300px;
    position: relative;
}

.how-to-image {
    width: 35%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-to-image img {
    max-width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.how-to-step {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    gap: 1em;
    align-items: center;
}

.how-to-step-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--custom-lightBlue);
    color: var(--custom-darkBlue);
    width: 6.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.how-to-step h3 {
    color: var(--custom-red);
    margin-bottom: 10px;
}

/* Safety Section */
.safety-section {
    padding: 40px 0 20px;
    margin: 0;
    box-sizing: border-box;
}

.section-title {
    text-align: center;
    font-size: 32px;
    color: var(--custom-darkBlue);
    margin-bottom: 50px;
}

.safety-intro {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: var(--custom-darkBlue);
}

.safety-policies {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
}

.safety-policies h2 {
    flex: 0 0 100%;
    color: var(--custom-red);
    margin-bottom: 0;
}

.safety-list {
    flex: 3;
    min-width: 300px;
    padding-left: 20px;
}

.safety-list ol {
    list-style-position: outside;
    padding-left: 20px;
}

.safety-list li {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.safety-image {
    flex: 2;
    min-width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.safety-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

/* Responsive Styles for How */
@media (max-width: 768px) {
    .safety-policies {
        flex-direction: column;
    }

    .safety-image {
        margin-top: 20px;
        position: static;
        top: 0;
    }

    .intro-full-width,
    .safety-intro {
        max-width: 100%;
        padding: 0 10px;
        text-align: justify;
    }

    .how-to-step {
        padding-left: 0;
        margin-left: 0;
    }

    .how-to-step-number {
        position: static;
        margin-bottom: 10px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .how-to-image {
        width: 100%;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .safety-intro {
        text-align: justify;
    }
}
