<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Dublin Bikes - Group 6{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <header></header>
        <script>
           
            let head = document.querySelector('header')

            const navs = [
                { label: 'Bikes', href: "{{ url_for('map') }}" },
                { label: 'Price', href: "{{ url_for('price') }}" },
                { label: 'Rent & Retrun', href: "{{ url_for('use') }}" },
                { label: 'Contact us', href: "{{ url_for('contact') }}" },
            ]

            head.innerHTML = `
                <div class="flex divided">
                    <a href="/">
                        <div class="logo"><img width="100%" src="../static/images/logo.svg" /></div>
                    </a>
                    <div class="flex desktop">
                        ${navs.map(({ label, href }) => (
                            `<a href=${href}><div style="font-size: 1.75em; font-weight: bold; color: #002C3E">${label}</div></a>`
                        )).join('')}
                    </div>
                </div>
            `
        </script>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="footer-logo"><img src="static/images/logo.svg" alt="brand-logo" /></div>
            <div>Copyright © 2025 Group 6</div>
        </footer>
    </body>
</html>