{% extends "base.html" %}
{% block title %}Contact us - Dublin Bikes{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center;">Contact Us</h1>
        <div class="form">
            <div class="label">
                <p>Full Name</p>
                <input name="name" />
            </div>
            <div class="label">
                <p>Email</p>
                <input name="email" type="email" placeholder="example3345678@xmail.com" />
            </div>
            <div class="label">
                <p>phone</p>
                <input name="phone" type="phone" />
            </div>
            <div class="label">
                <p>Message</p>
                <textarea name="message" placeholder="Enter your message"></textarea>
            </div>
            <p id="errorMessage" style="color: red; display: none; font-size: 0.875em;"></p>
            <div class="label">
                <input type="submit" disabled value="SUBMIT" />
            </div>
        </div>
        <div class="center pop-up">
            Submission Completed
        </div>
    </div>
    <script src="static/js/contact.js"></script>
{% endblock %}