{% extends "base.html" %}
{% block title %}Contact us - Dublin Bike Share{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}
{% block content %}
{% import "components/contact_comp.html" as module %}
    <div class="container">
        <h1 style="text-align: center; margin-bottom: 2rem;">Contact Us</h1>
        <div class="contact-container">
            <div class="contact-info">
                <h2>Get in Touch</h2>
                
                <div class="info-item">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/address.svg') }}" alt="icon-address">
                    </div>
                    <div>
                        <p>Address:</p>
                        <p>University College Dublin, Belfield</p>
                        <p>Dublin 4, Ireland</p>
                        <p>Eircode: D04 V1W8</p>
                    </div>
                </div>
                
                <div class="info-item">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/phone.svg') }}" alt="icon-phone">
                    </div>
                    <div>
                        <p>Phone:</p>
                        <p><a href="tel:+35317167777">UCD phone: +353 1 716 7777</a></p>
                    </div>
                </div>
                
                <div class="info-item">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/time.svg') }}" alt="icon-time">
                    </div>
                    <div>
                        <p>Opening Hours:</p>
                        <p>Monday - Friday: 8:00 AM - 8:00 PM</p>
                        <p>Saturday - Sunday: 9:00 AM - 6:00 PM</p>
                    </div>
                </div>
                
                <div class="info-item">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/team.svg') }}" alt="icon-team">
                    </div>
                    <div>
                        <p>Our Team:</p>
                        <div style="margin-top: 15px;">
                            {{ module.render_team(team) }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form">
                <div class="label">
                    <p>Full Name</p>
                    <input name="name" />
                </div>
                <div class="label">
                    <p>Email</p>
                    <input name="email" type="email" placeholder="example3345678@xmail.com" />
                </div>
                <div class="label">
                    <p>Phone</p>
                    <input name="phone" type="phone" />
                </div>
                <div class="label">
                    <p>Message</p>
                    <textarea name="message" placeholder="Enter your message"></textarea>
                </div>
                <p id="errorMessage"></p>
                <div class="label">
                    <input type="submit" disabled value="SUBMIT" />
                </div>
            </div>
            <div class="center pop-up">
                Submission Completed<br>We'll inform you by email.
            </div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock %}