<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group6 Bikes</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/how.css">
</head>
    <div class="container">
        <div class="flex step">
            <div class="center">
                <h4>Step1</h4>
                <div style="width: 10rem;">
                    <img src="../static/images/illustration-enpratique-01.svg" />
                </div>
                <p>rent</p>
            </div>
            <div class="center">
                <h4>Step2</h4>
                <div style="width: 10rem;">
                    <img src="../static/images/illustration-enpratique-02.svg" />
                </div>
                <p>use</p>
            </div>
            <div class="center">
                <h4>Step3</h4>
                <div style="width: 10rem;">
                    <img src="../static/images/illustration-enpratique-03.svg" />
                </div>
                <p>return</p>
            </div>
        </div>
    </div>
</html>