<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group6 Bikes</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>
    <div class="container">
        <div class="flex">
            <div>
                <h4>Step1</h4>
                <div style="width: 10rem;">
                    <img src="../static/images/illustration-enpratique-01.svg" />
                </div>
                <p>rent</p>
            </div>
        </div>
    </div>
</html>