{% extends "base.html" %} {% block title %}Login - Dublin Bike Share{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %} 
{% block content %}
    <div class="container" style="max-width: 30em;">
        <h2 id="form-title">Login / Sign up</h2>
        <div>
            <label for="name">name</label>
            <input id="name" name="name" required />

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />

            <div id="errorMessage"></div>
            <button type="submit" disabled>Login / Sign up</button>
            <div style="margin-top: 1em;">
                If you have not registered yet, please provide your username and email address, and we will create a new account for you.
            </div>
        </div>
        <!-- <span class="toggle-link" id="toggle-form">Don't have an account? Register</span> -->
    </div>
    <div class="center pop-up"></div>
    <script type="module" src="{{ url_for('static', filename='js/account.js') }}">
    </script>
    
{% endblock %} 