{% extends "base.html" %} {% block title %}Map - Dublin Bike Share{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" />
{% endblock %} 
{% block content %}
<div style="padding: 8em 0">
  <div class="container" style="padding: 0 1em">
    <div class="flex journey">
      <input id="origin" type="text" placeholder="Enter start location" />
      <input id="destination" type="text" placeholder="Enter destination" />
      <button id="routeBtn">Get Estimated Time and Distance</button>
    </div>
  </div>
  <div id="map">
  </div>
  <div id="weather">
    <img id="weather-icon" alt="weather icon" />
    <p></p>
  </div>
  <div id="legend">
    {% from "components/legend.html" import render_legend %}
    {{ render_legend([{ 'icon': 'gray', 'text': 'bikes' }, { 'icon': 'darkBlue', 'text': 'stands' }]) }}
  </div>
</div>
<!-- <script type="module" src="{{ url_for('static', filename='js/initMap.js') }}"></script> -->
<script type="module">
  window.initMap = function () {
    import("{{ url_for('static', filename='js/initMap.js') }}")
      .then(module => module.initMap())
      .catch(console.error);
  };
</script>
<script type="module" src="{{ url_for('static', filename='js/getWeather.js') }}"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{ api }}&callback=initMap&libraries=marker,places&language=en&loading=async"
  async
  defer
></script>
{% endblock %}
