<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike stations Maps</title>
    <style>
        #map {
            height: 75vh;
            width: 100%;
        }
    </style>
</head>

<body>
    <h2>Find the location</h2>
    <div id="map"></div>
    <script src="{{ url_for('static', filename='/scripts/fetchData.js') }}"></script>
    <script defer>

        async function initMap() {
            const bikeData = await fetchData("{{ bikes_api_url }}");
            const lat = "{{ lat }}"
            const lon = "{{ lon }}"
            const location = { lat: +lat, lng: +lon };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: location
            });

            bikeData.forEach(({ position }) => {
                const marker = new google.maps.Marker({
                    position,
                    map,
                });

                // console.log(bikeData)
                const infoWindow = new google.maps.InfoWindow();
                
                bikeData.forEach(({
                    position,
                    name,
                    available_bikes,
                    available_bike_stands,
                    status
                }) => {
                    const marker = new google.maps.Marker({
                        position,
                        map,
                    });
                    
                    marker.addListener("click", () => {
                        infoWindow.setContent(`
                            <div>
                                <b>${name}</b>
                                <p>Available bikes: ${available_bikes}</p>
                                <p>Available bike stands: ${available_bike_stands}</p>
                                <p>Status: ${status}</p>
                            </div>
                        `);
                        infoWindow.open(map, marker);
                    });
                });
            });

        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api }}&callback=initMap"></script>
</body>

</html>